/* Here I am setting up the fonts I will be using for this webpage. */
@font-face {
/*Here I am naming my font so that I can refernce it*/
font-family: 'LemonMilk';
/*Here I am linking my font file so that when I refernce it it knows what the font looks like*/
src: url('lemon_milk/LEMONMILK-Light.otf') format('opentype');
/*these tags let the code know that the style and weight should be normal rather than bold or italic*/
font-weight: normal; 
font-style: normal; 
}

@font-face {
/*Here I am naming my font so that I can refernce it*/
font-family: 'Belgiano';
/*Here I am linking my font file so that when I refernce it it knows what the font looks like*/
src: url('belgiano_serif/Belgiano Serif 2.ttf') format('truetype');
/*these tags let the code know that the style and weight should be normal rather than bold or italic*/
font-weight: normal; 
font-style: normal; 
}

/* Have colors go to the very edge of the page */
body{
    margin: 0 auto;
}

/* NAVIGATION BAR */
nav{
    display: flex;
    align-items: center;
    background-color: #333;
    position: sticky; 
    top: 0; 
    z-index: 1000; 

}

nav .Button{
    border: solid 1px white;
    font-size: 1rem;
    color: white;
    margin: 5px;
    text-decoration: none;
    border-radius: 6px;
    font-family: 'LemonMilk', serif;
    transition: background-color 0.3s;
    padding:10px 18px;
    cursor:pointer;
    font-family: 'LemonMilk', serif;
    transition:background-color .3s;
}

nav .Button:hover{
    background-color: #1d1d1d;
}

/* Clamps make it so that the item is responsive and scales better when the screen gets smaller */
.Logo{
    width: clamp(110px, 12vw, 180px);
    height: auto;
    margin-right:auto;
    padding: 10px;
}

/* HEADER */
header {
    background-color: #333;
    color: white;
    font-family: 'LemonMilk', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    padding: 64px 10vw;
}

/* I applied a negative margin here to pull the text upwards */
header h1 {
    font-size: 5rem;
    margin: 0;
    margin-top: -250px;
}

header h2 {
    font-family: 'Belgiano', serif;
    font-size: 2.5rem;
    margin: 0 0 .7rem;
    font-weight: normal;
    opacity: .5;
}

header .Button {
    padding: .55rem 1rem;
    background: #fff;
    color: #111;
    text-decoration: none;
    border-radius: 0px;
    font-family: 'LemonMilk', serif;
    font-size: 1rem;
    line-height: 1;
    border: none;
    transition: transform .15s, background-color .3s;
}

header .Button:hover {
    transform: scale(1.1);
    background: #cccccc;
}

/* ABOUT ME */
#AboutMe{
    margin-left: 400px;
}

/* Im applying media queries so that the content fits some what on smaller screens */
@media (max-width: 1400px){
    #AboutMe{
        margin-left: 200px;
        justify-content: center;
    }
}

@media (max-width: 1000px){
    #AboutMe{
        margin-left: 100px;
        justify-content: center;
    }
}

#HomePage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Here Im making the text and image stack verticaly instead of being side by side */
@media (max-width: 950px) {
    #HomePage {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
    }
    #AboutMe {
        margin-left: 0;
    }
}

#AboutMe p{
    font-family: 'Belgiano', serif;
    font-size: 1.5rem;
    opacity: .8;
}

#AboutMe h1{
    font-family: 'LemonMilk', serif;
    font-size: 2.5rem;
}

#SelfPhoto img {
    width: clamp(300px, 50%, 600px);
    height: auto;
    padding: 25px;
        flex-shrink: 0;
}
#HomePage .Button {
    display: inline-block;
    padding:15px 20px;
    margin-bottom: 50px ;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-family: 'LemonMilk', serif;
    font-size: .9rem;
    line-height: 1;
    border: none;
    transition: transform .15s, background-color .3s;
}

#HomePage .Button:hover {
    transform: scale(1.1);
    background: #1d1d1d;
}

/* FOOTER SECTION */
.ContactMe, .Button{
    display:inline-block;
    background:#333;
    color:#fff;
    border: solid 1px white;
    padding:10px 18px;
    border-radius:6px;
    text-decoration: none;
    cursor:pointer;
    font-family: 'LemonMilk', serif;
    transition:background-color .3s, transform .15s;
}

#ContactMe .Button:hover{
    background-color: #252525;
    transform: scale(1.1);
}

footer{
    text-align: center;
    background-color: #333;
    font-family: 'LemonMilk', serif;
    padding: 20px;
    color: white;
    padding-bottom: 40px;
}
